.topnav {
  padding: 0px 16px;
  overflow: hidden;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 100%);
}

.theme--dark .topnav{
  overflow: hidden;
  background-color: hsl(209, 23%, 22%);
}

.topnavitem {
  h1 {
    float: left;
    text-align: center;
    padding: 21px 21px;
    text-decoration: none;
    font-size: 26px;
  }
  h1:hover {
    background-color: #ddd;
  }
  a {
    float:right;
    text-align: center;
    padding: 28px 28px;
    text-decoration: none;
    font-size: 16px;
  }
  a:hover {
    background-color: #ddd;
  }
}

.theme--dark .topnavitem {
  h1:hover {
    background-color: hsl(207, 26%, 17%)
  }
  a:hover {
    background-color: hsl(207, 26%, 17%)
  }
}