.routerlink {
  text-decoration: dotted;
}

.column {
  float: left;
  width: 25%;
  padding: 0 2%;
  margin-bottom: 4%;
}

.row {
  padding: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
.column {
  width: 100%;
  display: block;
}
}

.card {
  border-radius: 0rem 0rem .7rem .7rem;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 100%);
  padding: 16% 8%;
  h2 {
    padding: 0 0 8% 0;
  }
}

.theme--dark .card {
  background-color: hsl(209, 23%, 22%);
}